[run]
plugins = Cython.Coverage
concurrency = thread, multiprocessing
parallel = true
omit =
  */tests/*
  */docs/*
  */data/*
  setup.py
source =
  pyuvdata

[report]
omit =
  */tests/*
  */docs/*
  */data/*
  setup.py

exclude_also =
    @vectorize
    @numba.vectorize

show_missing = true

[paths]
source =
    src
    */site-packages"
tests =
    tests
    */tests
